<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fionera.test.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.fionera.test.domain.City">
        <result column="city_id" property="cityId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>

    <parameterMap id="City" type="com.fionera.test.domain.City"/>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            city_id,
            city_name,
            description
        FROM city
        WHERE city_name = #{cityName}
    </select>
    <insert id="addNewOne" parameterType="City">
        INSERT INTO city (city_id, city_name, description)
        VALUES (#{city.cityId}, #{city.cityName}, #{city.description})
    </insert>
</mapper>
