<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fionera.test.dao.ActivityDao">

    <select id="selectAll" resultType="Activity">
        SELECT *
        FROM activity;
    </select>
    <select id="selectById" parameterType="int" resultType="Activity">
        SELECT *
        FROM activity
        WHERE id = #{id};
    </select>
    <insert id="insert" parameterType="Activity">
        INSERT INTO activity
        SET
            title       = #{title},
            description = #{note},
            imgPath     = #{imgPath},
            start_time  = #{startTime},
            end_time    = #{endTime};
    </insert>
    <update id="update" parameterType="Activity">
        UPDATE activity
        SET
            title       = #{title},
            description = #{note},
            imgPath     = #{imgPath},
            start_time  = #{startTime},
            end_time    = #{endTime};
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE FROM activity
        WHERE id = #{id};
    </delete>
</mapper>
