<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fionera.test.dao.ActivityDao">

    <select id="selectAll" resultType="Activity">
        SELECT * FROM activity;
    </select>
    <select id="selectById" parameterType="int" resultType="Activity">
        SELECT * FROM activity WHERE id = #{id};
    </select>
</mapper>
